.cases {
  @extend %ccenter;
  position: relative;
  width: 100%;
  min-height: 500vh;
  padding-bottom: 10rem;
  visibility: hidden;
}

.cases__list {
  @extend %full;
}

.cases__list__item {
  width: 9rem;
  height: 9rem;
}