.cases {
  @extend %ccenter;
  position: relative;
  width: 100%;
  min-height: 500vh;
  visibility: hidden;

  @include media('<=phone') {
    min-height: 700vh;
  }
}

.cases__list {
  @extend %full;
}

.cases__list__item {
  width: 8vmax;
  height: 8vmax;

  @include media('<=phone') {
    width: 8vmax;
    height: 8vmax;
  }
}