-
  const cases = [
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
    'oxygen_system', 'solis_ortus_club', 'code_inc',
  ]