-
  const cases = [
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
        {
      image: 'oxygen_system',
      name: 'Oxygen System',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
        {
      image: 'oxygen_system',
      name: 'Oxygen System',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',

    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
        {
      image: 'oxygen_system',
      name: 'Oxygen System',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'solis_ortus_club',
      name: 'Solis Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
  ]