-
  const cases = [
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
        {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
        {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'oxygen_system',
      name: 'Oxygen System',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus dicta quos corporis, quod accusantium, iste ipsa, a iure incidunt doloremque animi suscipit amet officia eaque reprehenderit? Magni, doloremque at!'
    },
    {
      image: 'solis_ortus_club',
      name: 'Solid Ortus Club',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
    {
      image: 'code_inc',
      name: 'Code Inc',
      link: {
        name: 'Посмотреть сайт',
        href: 'https://google.com'
      }
    },
  ]