-
  const team = [
    {
      image: '1',
      name: 'Qwerty',
      description: 'heh master'
    },
    {
      image: '1',
      name: 'Qwerty',
      description: 'heh master'
    },
    {
      image: '2',
      name: 'Qwerty',
      description: 'heh master'
    },
    {
      image: '3',
      name: 'Qwerty',
      description: 'heh master'
    },
    {
      image: '1',
      name: 'Qwerty',
      description: 'heh master'
    },
    {
      image: '1',
      name: 'Qwerty',
      description: 'heh master'
    },
    {
      image: '1',
      name: 'Qwerty',
      description: 'heh master'
    },
    {
      image: '1',
      name: 'Qwerty',
      description: 'heh master'
    },
    {
      image: '1',
      name: 'Qwerty',
      description: 'heh master'
    },
    {
      image: '1',
      name: 'Qwerty',
      description: 'heh master'
    },
  ]