section.contacts
  h2 Контакты
  .contacts__inner
    .contacts__smoke(data-scroll-box="yarBoxSmoke")
    .contacts__lid(data-scroll-box="yarBoxLid")
    .contacts__box(data-scroll-box="yarBox" data-logo="multimedia/images/logos/yar.jpg" data-cactus="multimedia/images/logos/cactus.jpg")
      a(href="tel: 8-017-276-63-12") 8-017-276-63-12
      a(href="mailto: yar@bydesign.by") yar@bydesign.by
      a(href="tg://resolve?domain=bydesignby") telegram: bydesignby