.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 14rem;
  visibility: hidden;
}

.contacts__smoke {
  width: 70vmin;
  height: 70vmin;
}

.contacts__lid {
  position: absolute;
  left: -30vmin;
  top: 0rem;
  width: 71vmin;
  height: 15vmin;
}

.contacts__box {
  width: 70vmin;
  height: 55vmin;
}