.point-lights
  .point-light-1(data-scroll-box="pointLight" data-color="#b90007" data-intensity="1" data-distance="5000" data-shape="torus")
  .point-light-2(data-scroll-box="pointLight" data-color="#ffc228" data-intensity="1" data-distance="5000" data-shape="torus")
  .point-light-bottom(data-scroll-box="pointLight" data-color="#ff9800" data-intensity="2" data-distance="10000")