.point-lights(role="presentation")
  .point-light-1(data-scroll-box="pointLight" data-color="#db00ff" data-intensity="2" data-distance="5000" data-shape="lamp" data-delayed)
  .point-light-2(data-scroll-box="pointLight" data-color="#18dbff" data-intensity="2" data-distance="5000" data-shape="lamp" data-delayed)
  .point-light-3(data-scroll-box="pointLight" data-color="#ffe500" data-intensity="2" data-distance="5000" data-shape="lamp" data-delayed)
  .point-light-4(data-scroll-box="pointLight" data-color="#ff0000" data-intensity="1" data-distance="3000" data-shape="lamp")
  .point-light-bottom(data-scroll-box="pointLight" data-color="#ff9800" data-intensity="3" data-distance="10000")