.point-lights {
  @extend %cover;
  @extend %center;
}

.point-light-1 {
  position: absolute;
  top: -10rem;
  left: -30vw;
  --z: -500;

  width: 0.7vmax;
  height: 0.7vmax;
}

.point-light-2 {
  position: absolute;
  top: 30rem;
  left: 120vw;
  --z: -1000;

  width: 0.7vmax;
  height: 0.7vmax;
}

.point-light-3 {
  position: absolute;
  top: 5rem;
  left: 50vw;
  --z: 2000;

  width: 0.7vmax;
  height: 0.7vmax;
}

.point-light-4 {
  position: absolute;
  bottom: 250rem;
  left: 150vw;
  --z: 500;

  width: 0.7vmax;
  height: 0.7vmax;
}

.point-light-bottom {
  position: absolute;
  bottom: -30rem;
  width: 10rem;
  height: 10rem;
}