.team {
  @extend %cover;
  @extend %ccenter;
  position: relative;
  width: 100%;
  visibility: hidden;
}

.team__list {
  @extend %full;
}

.team__list__item {
  width: 7vmax;
  height: 7vmax;

  @include media('<=tablet-landscape') {
    width: 10vmax;
    height: 10vmax;
  }
}