.models(role="presentation")
  .model-cactus-1(data-scroll-box="model" data-model-name="cactus1")
    div(data-name) Антон
    div(data-description) целебный
  .model-pencil-1(data-scroll-box="model" data-model-name="pencil1")
  .model-pencil-2(data-scroll-box="model" data-model-name="pencil2")
  .model-pencil-3(data-scroll-box="model" data-model-name="pencil3")