.models {
  @extend %cover;
  @extend %center;
  visibility: hidden;
}

.model-cactus-1 {
  position: absolute;
  bottom: 400rem;
  left: 20%;
  width: 3.5vmax;
  height: 3.5vmax;
}

.model-pencil-1 {
  position: absolute;
  bottom: 100rem;
  left: 20%;
  width:2.2vmax;
  height:2.2vmax;
}

.model-pencil-2 {
  position: absolute;
  bottom: 200rem;
  left: 70%;
  width:2.2vmax;
  height:2.2vmax;
}

.model-pencil-3 {
  position: absolute;
  bottom: 300rem;
  left: 150%;
  width:2.2vmax;
  height:2.2vmax;
}

.model-whiskey {
  position: absolute;
  bottom: 250rem;
  left: 100%;
  width: 2.2vmax;
  height: 2.2vmax;
}

.model-phone {
  position: absolute;
  bottom: 300rem;
  left: 50%;
  width: 2vmax;
  height: 2vmax;
}

.model-player {
  position: absolute;
  bottom: 430rem;
  --z: -2000;
  left: 80%;
  width: 3vmax;
  height: 3vmax;
}

.model-gear-1 {
  position: absolute;
  bottom: 130rem;
  left: -20%;
  width: 3vmax;
  height: 3vmax;
}

.model-gear-2 {
  position: absolute;
  bottom: 140rem;
  left: -20%;
  --z: 400;
  width: 2.5vmax;
  height: 2.5vmax;
}

.model-gear-3 {
  position: absolute;
  bottom: 160rem;
  left: -10%;
  width: 2vmax;
  height: 2vmax;
}

.model-gear-4 {
  position: absolute;
  bottom: 160rem;
  right: 0%;
  --z: 1500;
  width: 4vmax;
  height: 4vmax;
}