.explore
  .explore__column-left
    .explore__name(data-scroll-box="exploreName")
  .explore__column-right
    .explore__description(data-scroll-box="exploreDescription")
    .explore__link(data-scroll-box="exploreLink")