.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;

  z-index: z('preloader');
  background-color: black;

  transition: opacity 1s;

  .loaded & {
    opacity: 0;
  }

  .ready & {
    display: none;
  }
}


.preloader__before {
  @extend %cover;
  transition: transform 1s linear;
  transform-origin: bottom;
  transform: scaleY(calc(var(--loading, 0) * 1.2));
  background-color: #ffff84;

  @include media('<=tablet-portrait') {
    background-color: #ffffff;
  }
}

.preloader__number {
  content: "";

  position: absolute;
  right: 2vmax;
  bottom: 1vmax;

  z-index: 21;

  font-size: 1vmax;

  color: #ffff84;
  mix-blend-mode: difference;

  text-transform: uppercase;

  @include media('<=tablet-portrait') {
    font-size: 2vmax;
    right: 2vmax;
    bottom: 2vmax;
    color: #ffffff;
  }
}