.preloader
  svg(class="preloader__logo" viewBox='0 0 531 400' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M130.262 0.28694H230.255V84.4965H147.438C118.869 84.4965 115.467 109.674 117.338 122.263C115.433 159.69 157.924 162.808 179.409 159.69V241.348L113.597 372H0L80.7763 228.588C39.2354 213.492 25.9268 181.315 21.8033 171.345L21.7671 171.257C17.6858 161.391 13.0943 127.027 13.9445 115.628C14.7948 104.23 11.9039 60.1693 42.1737 28.0165C66.3895 2.29436 110.989 -1.18744 130.262 0.28694Z' fill='#FFB500')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M230.216 0.213572H423.399C458.034 -2.11141 527.882 13.585 530.193 94.9705C533.084 196.703 518.461 213.203 483.599 230.386C474.019 234.299 444.146 241.955 401.292 241.274C358.437 240.594 269.385 240.99 230.216 241.274V0.213572ZM317.965 84.2103V159.063H387.178C414.556 159.063 430.207 157.692 431.052 125.039C432.046 86.5635 405.082 85.1111 389.546 84.2744C389.146 84.2528 388.753 84.2317 388.367 84.2103H317.965Z' fill='white')
    path(class="preloader__logo__square" d='M318.43 283H230V371.632H318.43V283Z' fill='white')
