.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;

  z-index: z('preloader');
  background-color: black;

  transition: opacity 2s;

  .loaded & {
    opacity: 0;
    pointer-events: none;
  }
}


.preloader::before {
  content: "";
  @extend %cover;
  background-color: black;
}

.preloader__number {
  content: "";

  position: absolute;
  right: 2vmax;
  bottom: 1vmax;

  font-size: 2vmax;

  color: #ffff84;

  .loaded & {
    transition: opacity 0.5s;
    opacity: 0;
  }

  @include media('<=tablet-landscape') {
    right: 2vmax;
    bottom: 2vmax;
  }

  @include media('<=tablet-portrait') {
    color: #ffffff;
  }
}