extend ../06_parts/04_templates/base.pug

block variables
  -
    const title = 'PF'
    const aliases =`
      desktop:: min-width: 769px,
      mobile:: max-width: 768px,
    `

    const scrollMedias = `
      {
        type:: vertical,
        ease:: 0.04,
        smooth,
        speedMultiplier:: 4,
        dragAcceleration:: 1,
        draggable,
        progressVar,
        smoothWheel:: true,
        staticSections,
        reverse:: -1
      }
    }`

block presentation
  div(role="presentation")
    //- include ../06_parts/02_blocks/preloader/preloader.pug
    include ../06_parts/00_shared/canvas/canvas.pug
block main
  div(data-scroll-path="lidOpening" style="height: 400vh;position: fixed;")
  include ../06_parts/03_sections/cases/cases.pug
  include ../06_parts/03_sections/team/team.pug
  include ../06_parts/03_sections/contacts/contacts.pug
  include ../06_parts/03_sections/point-lights/point-lights.pug
  include ../06_parts/03_sections/models/models.pug
  include ../06_parts/03_sections/explore/explore.pug
